html {
  font-family: var(--familia-fonte);
}

body {
  background-color: lightgray;
  max-width: 1080px;
  height: 100vh;
  display: flex;
  align-items: center;
}

img.imagem-principal {
  max-width: 278px;
  height: 293px;
  position: absolute;
  margin-left: 100px;
}

.secao-principal .acordeon h1 {
  padding: 0px 15px;
  font-size: var(--tamanho-fonte-titulo);
  font-weight: var(--peso-titulo-principal);
}

.secao-principal {
  background-color: #fcfcfc;
  border-radius: 21px;
  width: 655px;
  height: 380px;
  display: flex;
  align-items: center;
  box-shadow: 0px 20px 20px -10px #00000040;
}

.secao-principal .acordeon {
  margin-left: 200px;
}

.secao-principal .acordeon .opcao {
  display: flex;
  width: 390px;
  padding: 15px;
  margin-left: 0px;
  border-bottom: 1px solid #d4d4d4;
  background-image: url(../images/seta-fechada.png);
  background-repeat: no-repeat;
  background-position: top 20px right 0;
}

.secao-principal .acordeon .opcao:last-child {
  border-bottom: none;
}

.secao-principal .acordeon .opcao .pergunta {
  cursor: pointer;
  margin-left: 0;
  transition: 0.2s ease;
  font-size: var(--tamanho-fonte-sub-titulo);
  font-weight: var(--peso-titulo-principal);
  width: 90%;
}

.secao-principal .acordeon .opcao .pergunta:hover {
  color: sandybrown;
}

.secao-principal .acordeon .opcao .resposta {
  display: none;
  padding-top: 20px;
  font-weight: var(--peso-texto);
  font-size: var(--tamanho-fonte-texto);
}

.secao-principal .acordeon .opcao.ativo .pergunta h2 {
  font-weight: var(--peso-titulo-principal);
}

.secao-principal .acordeon .opcao.ativo .resposta {
  display: block;
}

.secao-principal .acordeon .opcao.ativo {
  background-image: url(../images/seta-aberta.png);
  background-repeat: no-repeat;
  display: block;
}
